* {
  box-sizing: border-box; }

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #e0e6e9; }
  body h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    text-align: center;
    padding-bottom: 5px; }
  body h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 1.3em; }
  body .hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.2em 0 2.5em;
    padding: 0; }

.jumbotron {
  background-image: url("../images/1054.JPG");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh; }
  .jumbotron .logo {
    margin-bottom: 40px; }

.services {
  padding: 30px;
  background-color: white; }
  .services .hr {
    padding-bottom: 15px; }
  .services img {
    width: 100%; }
  .services h4 {
    margin: 10px 0 30px; }

.testimonials {
  padding: 30px; }
  .testimonials .bold {
    font-weight: 600; }

.about {
  padding: 30px;
  background-color: white; }
  .about .hr {
    padding-bottom: 20px; }
  .about img {
    margin-bottom: 10px; }

.gallery {
  padding: 30px; }
  .gallery header {
    padding: 0.5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex; }
  .gallery header div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 250px;
    margin: 0.5vw; }
  .gallery header div img {
    width: 100%;
    height: auto; }
  @media screen and (max-width: 400px) {
    .gallery header div {
      margin: 0; }
    .gallery header {
      padding: 0; } }

.contact {
  background-color: #595c5d;
  color: white;
  padding: 30px; }
  .contact a {
    color: white; }

.center-con {
  display: flex;
  align-items: center;
  justify-content: center; }

.round {
  position: relative;
  border: 3px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%; }
  .round span {
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease; }
  .round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 17%;
    bottom: 35%; }
  .round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 43%;
    bottom: 35%; }
  .round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 17%;
    bottom: 54%; }
  .round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 43%;
    bottom: 54%; }

.round:hover span:nth-child(1) {
  transform: rotate(-135deg); }

.round:hover span:nth-child(2) {
  transform: rotate(135deg); }

.round:hover span:nth-child(3) {
  transform: rotate(225deg); }

.round:hover span:nth-child(4) {
  transform: rotate(-225deg); }
